@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Resets */

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-selection: 20px;
}

body{
    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

p{
    font-family: sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* Utility class Start */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.top-banner{
    background-color: #4fb3d4;
    background-image: url(./assets/asset\ 32.png);
    background-size: 300px;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-selection);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
}

.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    border: 0.5px solid var(--primary-text-color);
    color: var(--secondary-text-color);
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}


/* Utility class End */


/* Header Section Start */

header{
    padding: 50px var(--padding-inline-selection) 0;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-bottom: 20px;
}

.header-right img{
    width: 600px;
}

.get-started-btn{
    margin-top: 20px;
}

/* Header Section End */


/* Companies Section Start */

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    height: 46px;
}

/* Companies Section End */


/* Features Section Start */

.features-section{
    padding: 80px var(--padding-inline-selection) 0;
}

.features-header{
    text-align: center;
}

.features-heading-text{
    margin-bottom: 20px;
}

.feastures-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}


/* Features Section End */


/* Big-features-Section Start */

.big-features-section{
    padding: 30px var(--padding-inline-selection) 0;
}

.big-feature-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
}

.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

/* Big-features-Section End */

/* Example section Start */

.examples-header{
    flex-direction: column;
    gap: 20px;
}

.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 37.jpeg);
    transition: 0.2s ease-out;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}

.examples-card:hover{
    box-shadow: 0 0 18px #888;
}

/* Example section End */

/* Cta section Start */

.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-section{
    padding: 120px var(--padding-inline-selection) 80px;
    background: #183b54;
}

.cta-section-container p{
    color: white;
    margin-top: 20px;
}

/* Cta section End */

/* Footer section Start */

footer{
    padding-block: 80px;
    margin-top: 20px;
    background-color: #ebf2fa;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

/* Footer section End */

/* Sub-footer Start */

.sub-footer{
    background: #b9cde4;
    padding: var(--padding-inline-selection);
}

.sub-footer-container{
    justify-content: center;
    gap: 30px;
}
/* Sub-footer End */